services:
  bff:
    container_name: bff
    build: ./bff
    command: [ "python", "-m", "bff" ]
    ports:
      - "8004:8004"
    volumes:
      - ./bff:/usr/src/bff
      - app_logs:/var/log
    env_file:
      - ./bff/.env

  documents:
    container_name: documents
    build: ./documents
    command: [ "python", "-m", "documents" ]
    ports:
      - "8000:8000"
    volumes:
      - ./documents:/usr/src/documents
      - app_logs:/var/log
    env_file:
      - ./documents/.env
    depends_on:
      - documents_db

  documents_db:
    container_name: documents_db
    image: postgres:17.6
    volumes:
      - documents_db_data:/var/lib/postgresql/data
    ports:
      - "5601:5432"
    env_file:
      - documents/.env

  identity-read:
    container_name: identity-read
    build: ./identity
    command: ["python", "-m", "identity", "read"]
    ports:
      - "8001:8001"
    volumes:
      - ./identity:/usr/src/identity
      - app_logs:/var/log
    env_file:
      - ./identity/identity.env
    depends_on:
      - identity_db

  identity-write:
    container_name: identity-write
    build: ./identity
    command: [ "python", "-m", "identity", "write" ]
    ports:
      - "8011:8011"
    volumes:
      - ./identity:/usr/src/identity
      - app_logs:/var/log
    env_file:
      - ./identity/identity.env
    depends_on:
      - identity_db

  identity_db:
    container_name: identity_db
    image: postgres:17.6
    volumes:
      - identity_db_data:/var/lib/postgresql/data
    ports:
      - "5602:5432"
    env_file:
      - identity/identity.env

  projects-read:
    container_name: projects-read
    build: ./projects
    command: [ "python", "-m", "projects", "read"]
    ports:
      - "8002:8002"
    volumes:
      - ./projects:/usr/src/projects
      - app_logs:/var/log
    env_file:
      - ./projects/.env
    depends_on:
      - projects_db

  projects-write:
    container_name: projects-write
    build: ./projects
    command: [ "python", "-m", "projects", "write"]
    ports:
      - "8012:8012"
    volumes:
      - ./projects:/usr/src/projects
      - app_logs:/var/log
    env_file:
      - ./projects/.env
    depends_on:
      - projects_db

  projects_db:
    container_name: projects_db
    image: postgres:17.6
    volumes:
      - projects_db_data:/var/lib/postgresql/data
    ports:
      - "5603:5432"
    env_file:
      - projects/.env

  reviewer:
    container_name: reviewer
    build: ./reviewer
    command: [ "python", "-m", "reviewer" ]
    ports:
      - "8003:8003"
    volumes:
      - ./reviewer:/usr/src/reviewer
      - app_logs:/var/log
    env_file:
      - ./reviewer/.env
    depends_on:
      - reviewer_db

  reviewer_db:
    container_name: reviewer_db
    image: postgres:17.6
    volumes:
      - reviewer_db_data:/var/lib/postgresql/data
    ports:
      - "5604:5432"
    env_file:
      - reviewer/.env

  keycloak_db:
    image: postgres:17.6
    container_name: keycloak_db
    restart: on-failure
    volumes:
      - keycloak_db_data:/var/lib/postgresql/data
    ports:
      - "5600:5432"
    env_file:
      - identity/keycloak.env
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}'"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:26.4.0
    command: start --import-realm
    ports:
      - "8443:8443"
      - "8080:8080"
    depends_on:
      keycloak_db:
        condition: service_healthy
    env_file:
      - identity/keycloak.env
    volumes:
      - ./identity/realm-export.json:/opt/keycloak/data/import/realm-export.json

  nats:
    image: nats:2.12
    command: [ "-c", "/etc/nats/server.conf" ]
    ports:
      - "4222:4222" # default client port
      - "8222:8222" # HTTP monitoring and management
    volumes:
      - ./nats/server.conf:/etc/nats/server.conf
      - ./nats-data:/data

  nats-init:
    image: natsio/nats-box
    depends_on:
      - nats
    volumes:
      - ./nats/init.sh:/init.sh
    entrypoint: ["/bin/sh", "/init.sh"]

  loki:
    image: grafana/loki:3.5
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    environment:
      TZ: ${SYSTEM_TIMEZONE:-Europe/Moscow}
    networks:
      - monitoring

  promtail:
    image: grafana/promtail:latest
    volumes:
      - app_logs:/var/log
      - ./grafana/promtail-config.yaml:/etc/promtail/config.yaml
    command: -config.file=/etc/promtail/config.yaml
    networks:
      - monitoring
    depends_on:
      - loki

  grafana:
    image: grafana/grafana:12.2
    ports:
      - "3000:3000"
    environment:
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards
    env_file:
      - grafana/.env
    networks:
      - monitoring
    depends_on:
      - loki

networks:
  monitoring:
    driver: bridge

volumes:
  documents_db_data:
  identity_db_data:
  projects_db_data:
  reviewer_db_data:
  keycloak_db_data:
  grafana-storage:
  app_logs:
  nats-data:
